<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrykCrTki7X6UR9OrtxMFspsFK625DkAI</string>
	<key>GCM_SENDER_ID</key>
	<string>360553214739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamgg.Armoire.abhay</string>
	<key>PROJECT_ID</key>
	<string>armoire-f156a</string>
	<key>STORAGE_BUCKET</key>
	<string>armoire-f156a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360553214739:ios:c3c50d8000bdcd247be0e6</string>
	<key>DATABASE_URL</key>
	<string>https://armoire-f156a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>